*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size)* .9);
}

body {
    margin: 0;
    border: 5px solid #f1f1f1;
    background-color: #f2d1c2;
}

#title {
    text-align: center;
    margin-top: 5px;
}

.foot {
    border-top: 1px solid #f1f1f1;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    background: #f2d1c2;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.box {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 2px solid #518a7b;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

/*Removing borders from the top */
.box:first-child,
.box:nth-child(2),
.box:nth-child(3) {
    border-top: none;
}

/*Removing borders from the left */
.box:nth-child(3n+1) {
    border-left: none;
}

/*Removing borders from the right */
.box:nth-child(3n+3) {
    border-right: none;
}


/*Removing borders from the bottom */
.box:last-child,
.box:nth-child(7),
.box:nth-child(8) {
    border-bottom: none;
}

/*Creating X using pseudo elements*/

.box.x::before,
.box.x::after {
    background-color: #405955;
}

.container.x .box:not(.x):not(.o):hover::before,
.container.x .box:not(.x):not(.o):hover::after {
    background-color: #678c86;
}

.box.x::before,
.box.x::after,
.container.x .box:not(.x):not(.o):hover::before,
.container.x .box:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size)* .15);
    height: var(--mark-size);
}

.box.x::before,
.container.x .box:not(.x):not(.o):hover::before {
    transform: rotate(45deg);
}

.box.x::after,
.container.x .box:not(.x):not(.o):hover::after {
    transform: rotate(-45deg);
}

/*Creating O using pseudo elements*/

.box.o::before {
    background-color: #d59066;
}

.container.o .box:not(.x):not(.o):hover::before {
    background-color: #d8a788;
}

.box.o::before,
.box.o::after,
.container.o .box:not(.x):not(.o):hover::before,
.container.o .box:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.box.o::before,
.container.o .box:not(.x):not(.o):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
    /*    background-color: #3f48cc;*/
}

.box.o::after,
.container.o .box:not(.x):not(.o):hover::after {
    width: calc(var(--mark-size)* .7);
    height: calc(var(--mark-size)* .7);
    background-color: #f2d1c2;
}

/*Pointer not allowed on X or O cells*/
.box.x,
.box.o {
    cursor: not-allowed;
}

/*Designing Win Message and start Message Div*/
.startMessage,
.winMessage {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #dea77f;
    opacity: 0.9;
    justify-content: center;
    align-items: center;
    /*    font-size: 2em;*/
    color: black;
    font-family: fantasy;
    flex-direction: column;
}


/* Designing button within win message div*/
.startMessage button,
.winMessage button {
    font-size: 2rem;
    border: 1px solid orange;
    background-color: white;
    /*    padding: .25em .5em;*/
    cursor: pointer;
    font-family: fantasy;
}

.startMessage button:hover,
.winMessage button:hover {
    background: #907769;
    color: white;
}

.startMessage.show,
.winMessage.show {
    display: flex;
}

/*Margin for the buttons*/
.noughts,
.crosses {
    margin: 5px;
}

p.middle {
    font-size: 2rem;
}

@media (min-width: 576px) {
    p.middle {
        font-size: 2rem;
    }
}

@media (min-width: 768px) {
    p.middle {
        font-size: 2.5rem;
    }
}

@media (min-width: 992px) {
    p.middle {
        font-size: 4rem;
    }
}

@media (min-width: 1200px) {
    p.middle {
        font-size: 4rem;
    }
}
