*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size)* .9);
}

body {
    margin: 0;
    background-color: lavender;
    border: 5px dotted orange;
    border-radius: 10px;
}

#title {
    text-align: center;
    margin-top: 5px;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.box {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

/*Removing borders from the top */
.box:first-child,
.box:nth-child(2),
.box:nth-child(3) {
    border-top: none;
}

/*Removing borders from the left */
.box:nth-child(3n+1) {
    border-left: none;
}

/*Removing borders from the right */
.box:nth-child(3n+3) {
    border-right: none;
}


/*Removing borders from the bottom */
.box:last-child,
.box:nth-child(7),
.box:nth-child(8) {
    border-bottom: none;
}

/*Creating X using pseudo elements*/

.box.x::before,
.box.x::after {
    background-color: #d0517a;
}

.container.x .box:not(.x):not(.o):hover::before,
.container.x .box:not(.x):not(.o):hover::after {
    background-color: #efa8bf;
}

.box.x::before,
.box.x::after,
.container.x .box:not(.x):not(.o):hover::before,
.container.x .box:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size)* .15);
    height: var(--mark-size);
}

.box.x::before,
.container.x .box:not(.x):not(.o):hover::before {
    transform: rotate(45deg);
}

.box.x::after,
.container.x .box:not(.x):not(.o):hover::after {
    transform: rotate(-45deg);
}

/*Creating O using pseudo elements*/

.box.o::before {
    background-color: #3f48cc;
}

.container.o .box:not(.x):not(.o):hover::before {
    background-color: #7c7cb7;
}

.box.o::before,
.box.o::after,
.container.o .box:not(.x):not(.o):hover::before,
.container.o .box:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.box.o::before,
.container.o .box:not(.x):not(.o):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
    /*    background-color: #3f48cc;*/
}

.box.o::after,
.container.o .box:not(.x):not(.o):hover::after {
    width: calc(var(--mark-size)* .7);
    height: calc(var(--mark-size)* .7);
    background-color: lavender;
}

/*Pointer not allowed on X or O cells*/
.box.x,
.box.o {
    cursor: not-allowed;
}

/*Designing Win Message Div*/
.winMessage {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #dea77f;
    opacity: 0.7;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: black;
    font-family: fantasy;
    flex-direction: column;
}

/* Designing button within win message div*/
.winMessage button {
    font-size: 3rem;
    border: 1px solid orange;
    background-color: white;
    padding: .25em .5em;
    cursor: pointer;
    font-family: fantasy;
}

.winMessage button:hover {
    background: #907769;
    color: white;
}

.winMessage.show {
    display: flex;
}
